<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjiznica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="naslovni-vanjski-container">
    <input class="search" type="text">
    <button id="btn-search"></button>
    <button type="button" class="btn btn-primary btn-nova-knjiga black-btn">Unesi knjigu</button>
    <!--    <button type="button" class="btn btn-primary btn-uredi-postojece black-btn">Uredi postojeće</button>-->
</div>


<th:block th:each="procitanaKnjiga : ${procitaneKnjige}">
    <div class="container-zapis-knjige" th:id="'zapis-knjige-' + ${procitanaKnjiga.getKnjiga().getKnjigaId()}">
        <span class="counter" th:text="${counter.incrementAndGet()}"></span>

        <table class="table-zapis-knjige">
            <tr>
                <td class="naslov-retka">Naslov</td>
                <td class="naslov-retka">Autor/i</td>
                <td class="naslov-retka">Ocjena</td>
                <td class="naslov-retka">Datum - pročitano</td>
            </tr>
            <tr>
                <td class="podaci-knjiga" id="naslov"><p th:text="${procitanaKnjiga.getKnjiga().getNaslov()}"></p></td>

                <td class="podaci-knjiga" id="autor">
                    <th:block th:each="autor : ${procitanaKnjiga.getAutori()}">
                        <p th:text="${autor.getPrezime()} + ', ' + ${autor.getIme()}"></p>
                    </th:block>
                </td>


                <td class="podaci-knjiga"
                    id="ocjena"><p th:text="${procitanaKnjiga.getKnjiga().getOcjena()} + ' / 5'"></p>
                </td>

                <td class="podaci-knjiga" id="datum-procitano">
                    <p th:text="${procitanaKnjiga.getDatumProcitana()}"></p>
                </td>
            </tr>
        </table>


        <table class="table-with-btns">
            <tr class="redak-gumb-uredi-brisanje">
                <td class="stupac-btn-uredi">
                    <button type="button" class="btn btn-primary btn-uredi-obrisi black-btn btn-uredi"
                            th:knjiga-id="${procitanaKnjiga.getKnjiga().getKnjigaId()}"
                    >Uredi zapis
                    </button>
                </td>
            </tr>
            <tr class="redak-gumb-uredi-brisanje">
                <td>
                    <button type="button" class="btn btn-primary btn-uredi-obrisi black-btn btn-obrisi">
                        Obriši zapis
                    </button>
                </td>
            </tr>
        </table>

    </div>

</th:block>

<span class="counter" th:text="${counter.resetCounter()}" hidden></span>


<!-----------------  MODAL ZA NOVI UNOS PROČITANE KNJIGE  -------------------------------------------------->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unos nove knjige</h5>
            </div>
            <div class="modal-body">
                <div class="podaci-knjiga">
                    <table>
                        <tr>
                            <td class="td-sirina">
                                <div class="container input-unos-autor">
                                    <div class="form-group">
                                        <label>Autor</label>
                                        <select class="form-control input-unos-knjige" id="odabir-autora">
                                            <th:block th:each="pisac : ${sviAutori}">
                                                <option th:text="${pisac.getPrezime()}+', '+${pisac.getIme()}"></option>
                                            </th:block>
                                        </select>
                                        <button type="button" class="btn btn-primary black-btn" data-dismiss="modal"
                                                id="novi-autor">Novi Autor
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=td-sirina>
                                <label> </label>
                                <div class="alert alert-danger" role="alert" id="alert-naslov">
                                    Unesite naslov!
                                </div>
                                <div class="input-group mb-3 input-unos-knjige">
                                    <label>Naslov</label>
                                    <input type="text" class="form-control" placeholder="Kvaka 22" aria-label="Username"
                                           aria-describedby="basic-addon1" id="odabir-naslova">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=td-sirina>
                                <label> </label>
                                <div class="alert alert-danger" role="alert" id="alert-isbn">
                                    ISBN nije u pravilnom formatu!
                                </div>
                                <div class="input-group mb-3 input-unos-isbn">
                                    <label>ISBN</label>
                                    <input type="text" class="form-control" placeholder="1234567891" aria-label="Username"
                                           aria-describedby="basic-addon1" id="odabir-isbn">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-sirina">
                                <div class="container input-unos-knjizevnost">
                                    <div class="form-group">
                                        <label>Književnost</label>
                                        <select class="form-control input-unos-knjizevnosti" id="odabir-knjizevnosti">
                                            <option>Argentina</option>
                                            <option>Austrija</option>
                                            <option>Australija</option>
                                            <option>Brazil</option>
                                            <option>Danska</option>
                                            <option>Engleska</option>
                                            <option>Francuska</option>
                                            <option>Hrvatska</option>
                                            <option>Češka</option>
                                            <option>Italija</option>
                                            <option>Mađarska</option>
                                            <option>Norveška</option>
                                            <option>Njemačka</option>
                                            <option>Rusija</option>
                                            <option>SAD</option>
                                            <option>Srbija</option>
                                            <option>Španjolska</option>
                                            <option>Švedska</option>
                                            <option>Poljska</option>
                                            <option>Portugal</option>
                                            <option>Ukrajina</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=td-sirina>
                                <div class="input-group mb-3 input-unos-ocjena">
                                    <label>Ocjena</label>
                                    <select class="form-control input-unos-ocjena" id="odabir-ocjene">
                                        <option>1.0</option>
                                        <option>1.5</option>
                                        <option>2.0</option>
                                        <option>2.5</option>
                                        <option>3.0</option>
                                        <option>3.5</option>
                                        <option>4.0</option>
                                        <option>4.5</option>
                                        <option>5.0</option>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="table-sazetak-knjige">
                        <tr>
                            <td>
                                <label> </label>
                                <div class="alert alert-danger" role="alert" id="alert-procitana">
                                    Odaberite datum!
                                </div>

                                <label>Pročitana</label>
                                <div class="container mydatetimepicker-container">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-group date" id="datetimepicker">
                                                <input type="text" class="form-control" id="odabir-procitana">
                                                <div class="input-group-addon input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Sadržaj knjige</label>
                                    <textarea class="sadrzaj-knjige" rows="2" id="odabir-sadrzaj"></textarea>
                                </div>

                                <p id="brojac-sadrzaja">0 / 2000</p>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary black-btn" id="knjiga-prihvati-promjene">
                    Prihvati promjene
                </button>
                <button type="button" class="btn btn-primary black-btn" data-dismiss="modal" id="odustani-unos-knjige">
                    Odustani
                </button>
            </div>
        </div>
    </div>
</div>


<!---------- MODAL UNOS AUTORA ----------------------->
<div class="modal" tabindex="-1" role="dialog" id="myModal-autor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unos novog autora</h5>
            </div>
            <div class="modal-body modal-body-autor">
                <div class="podaci-knjiga">
                    <table>
                        <tr>
                            <td class=td-sirina>
                                <div class="input-group mb-3 input-unos-knjige">
                                    <label>Ime</label>
                                    <input type="text" class="form-control" placeholder="Joseph" aria-label="Username"
                                           aria-describedby="basic-addon1" id="odabir-ime">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=td-sirina>
                                <div class="input-group mb-3 input-unos-knjige">
                                    <label>Prezime</label>
                                    <input type="text" class="form-control" placeholder="Heller" aria-label="Username"
                                           aria-describedby="basic-addon1" id="odabir-prezime">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="table-sazetak-biografija">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Biografija</label>
                                    <textarea class="autor-biografija" rows="2" id="odabir-biografija"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary black-btn" id="autor-prihvati-promjene" data-dismiss="modal">
                    Prihvati promjene
                </button>
                <button type="button" class="btn btn-primary black-btn" data-dismiss="modal" id="autor-odustani-promjene">
                    Odustani
                </button>
            </div>
        </div>
    </div>
</div>


<!-----------------  MODAL UREDI ZAPIS  -------------------------------------------------->
<div class="modal" tabindex="-1" role="dialog" id="myModal-uredi-zapis">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Uredi zapis</h5>
            </div>


            <div class="container1">
                <nav class="navbar navbar-inverse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#knjiga-tab" data-toggle="tab">Knjiga</a></li>
                        <li><a href="#autor-tab" data-toggle="tab">Autor</a></li>
                    </ul>
                </nav>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="knjiga-tab">
                        <div class="modal-body">
                            <div class="podaci-knjiga">
                                <table>
                                    <tr>
                                        <td class="td-sirina">
                                            <div class="container input-unos-autor">
                                                <div class="form-group">
                                                    <label>Autor</label>
                                                    <select class="form-control input-unos-knjige" id="odabir-autora-uredi">
                                                        <th:block th:each="pisac : ${sviAutori}">
                                                            <option th:text="${pisac.getPrezime()}+', '+${pisac.getIme()}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=td-sirina>
                                            <label> </label>
                                            <div class="alert alert-danger" role="alert" id="alert-naslov-uredi">
                                                Unesite novi naslov!
                                            </div>
                                            <div class="input-group mb-3 input-unos-knjige">
                                                <label>Naslov</label>
                                                <input type="text" class="form-control" placeholder="Kvaka 22"
                                                       aria-label="Username"
                                                       aria-describedby="basic-addon1" id="odabir-naslova-uredi">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=td-sirina>
                                            <label> </label>
                                            <div class="alert alert-danger" role="alert" id="alert-isbn-uredi">
                                                ISBN nije u pravilnom formatu!
                                            </div>
                                            <div class="input-group mb-3 input-unos-isbn">
                                                <label>ISBN</label>
                                                <input type="text" class="form-control" placeholder="1234567891"
                                                       aria-label="Username"
                                                       aria-describedby="basic-addon1" id="odabir-isbn-uredi">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-sirina">
                                            <div class="container input-unos-knjizevnost">
                                                <div class="form-group">
                                                    <label>Književnost</label>
                                                    <select class="form-control input-unos-knjizevnosti"
                                                            id="odabir-knjizevnosti-uredi">
                                                        <option>Argentina</option>
                                                        <option>Austrija</option>
                                                        <option>Australija</option>
                                                        <option>Brazil</option>
                                                        <option>Danska</option>
                                                        <option>Engleska</option>
                                                        <option>Francuska</option>
                                                        <option>Hrvatska</option>
                                                        <option>Češka</option>
                                                        <option>Italija</option>
                                                        <option>Mađarska</option>
                                                        <option>Norveška</option>
                                                        <option>Njemačka</option>
                                                        <option>Rusija</option>
                                                        <option>SAD</option>
                                                        <option>Srbija</option>
                                                        <option>Španjolska</option>
                                                        <option>Švedska</option>
                                                        <option>Poljska</option>
                                                        <option>Portugal</option>
                                                        <option>Ukrajina</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=td-sirina>
                                            <div class="input-group mb-3 input-unos-ocjena">
                                                <label>Ocjena</label>
                                                <select class="form-control input-unos-ocjena" id="odabir-ocjene-uredi">
                                                    <option>1.0</option>
                                                    <option>1.5</option>
                                                    <option>2.0</option>
                                                    <option>2.5</option>
                                                    <option>3.0</option>
                                                    <option>3.5</option>
                                                    <option>4.0</option>
                                                    <option>4.5</option>
                                                    <option>5.0</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                                <table class="table-sazetak-knjige">
                                    <tr>
                                        <td>
                                            <label> </label>
                                            <div class="alert alert-danger" role="alert" id="alert-procitana-uredi">
                                                Odaberite datum!
                                            </div>

                                            <label>Pročitana</label>
                                            <div class="container mydatetimepicker-container">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="input-group date" id="datetimepicker-uredi">
                                                            <input type="text" class="form-control"
                                                                   id="odabir-procitana-uredi">
                                                            <div class="input-group-addon input-group-prepend">
                                                                <span class="input-group-text"><i
                                                                        class="fas fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Sadržaj knjige</label>
                                                <textarea class="sadrzaj-knjige" rows="2"
                                                          id="odabir-sadrzaj-uredi"></textarea>
                                            </div>

                                            <p id="brojac-sadrzaja-uredi">0 / 2000</p>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="autor-tab">
                        <div class="modal-body modal-body-autor">
                            <div class="podaci-knjiga">
                                <table>
                                    <tr>
                                        <td class=td-sirina>
                                            <div class="input-group mb-3 input-unos-knjige">
                                                <label>Ime</label>
                                                <input type="text" class="form-control" placeholder="Joseph" aria-label="Username"
                                                       aria-describedby="basic-addon1" id="odabir-ime-uredi">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=td-sirina>
                                            <div class="input-group mb-3 input-unos-knjige">
                                                <label>Prezime</label>
                                                <input type="text" class="form-control" placeholder="Heller" aria-label="Username"
                                                       aria-describedby="basic-addon1" id="odabir-prezime-uredi">
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table class="table-sazetak-biografija">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Biografija</label>
                                                <textarea class="autor-biografija" rows="2" id="odabir-biografija-uredi"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary black-btn" id="knjiga-prihvati-promjene-uredi">
                    Prihvati promjene
                </button>
                <button type="button" class="btn btn-primary black-btn" data-dismiss="modal" id="odustani-unos-knjige-uredi">
                    Odustani
                </button>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>

<script th:src="@{js/myscript.js}"></script>

<!---------------  DATETIMEPICKER  -------------------------------------->
<script>
    $(function () {
        $.extend(true, $.fn.datetimepicker.defaults, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            }
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>


<script>
    $('#myTab a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
</script>
<!----------------------------------------------------------------------->

</body>
</html>